.card {
    margin-right: 30px;
    height: 540px;
    width: 415px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 20px 0 0 30px;
    display: flex;
    flex-direction: column;
}

.top {
    padding: 0 10px 0 30px;
    margin: -20px 0 0 -30px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 132px;
    border-radius: 10px 10px 0 0;
}

.title {
    font-size: 30px;
    font-weight: 500;
    margin: 0;
}

.subtitle {
    font-size: 18px;
    margin: 10px 0 0 0;
}

.price {
    font-size: 30px;
    font-weight: 500;
    margin: 30px 0 0;
}

.fullprice {
    opacity: 50%;
    font-size: 25px;
}

.installments {
    font-size: 18px;
    margin: 10px 0 0 0;
}

.info_title {
    font-size: 20px;
    font-weight: 500;
    margin: 60px 0 0 0;
}

.info_list {
    font-size: 18px;
    list-style: url(../../images/list_style.png);
    margin-left: -10px;
}

.button {
    background-color: #5970ff;
    color: #ffffff;
    padding: 18px 46px;
    border: 0;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 55px;
    margin-right: 30px;
    text-align: center;
    font-size: 20px;
}

.dark {
    color: #ffffff;
}