.section {
    margin-top: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.info {
    align-items: flex-start;
}

.title {
    font-family: Ferry;
    font-weight: 900;
    font-size: 60px;
    margin: 0;
}

.subtitle {
    font-size: 20px;
    margin: 0;
    margin-top: 20px;
    margin-bottom: 70px;
}

.button {
    background-color: #5970ff;
    color: #ffffff;
    padding: 16px 64px;
    border: 0;
    border-radius: 5px;
    text-decoration: none;
}